/*
	Style: Top-CN-Default
	Author: Hobby

	(c) Copyright. All Rights Reserved.
body{filter:gray}
#flash_water,#flash_xiaoxun,#flash_hana{display:none}
*/
* {
	padding:0;
	margin:0;
}
body, table, tr, td, form, input, textarea {
	font-size:12px;
}
table, span, form , ul, li , textarea {
	text-align:left;
}
body {
	text-align: center;
	font: 12px "宋体", "Arial", "Helvetica", "sans-serif";
	background-color: #FFFFFF;
	background-position:center;
}
input {
	font: 9pt;
}
li {
	list-style:none;
}
h1 {
	font-size:16pt;
	font-weight:bold;

}
a {
	color:#000000;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.none {
	text-decoration: none;
	border: none;
}
.hand {
	cursor:hand;
}
.ft12 {
	font-size:12px;
}
.clear {
	clear:both;
	height:1px;
	overflow:hidden;
	font-size:1px;
}
.inline {
	float:left;
}
.line {
	height:1px;
	overflow:hidden;
	font-size:1px;
	clear:both;
	margin:0px auto;
}
.adjust {
	text-align:justify;
	text-justify:inter-ideograph;
}
.red{color:red;}
#index .ctner {
	width:1000px;
	margin:0 auto;
}
.main_{background-image: url(/images/main_2.gif);background-repeat: repeat-y;}
.sidebar_{background-image: url(/images/sidebar_2.gif);background-repeat: repeat-y;}
#index #top {
	margin:0 auto;
	width:1000px;
	height:565px !important;
	height:563px;
	background-repeat:repeat-x;
	background-image:url(/images/index/bg.jpg);
	clear:both;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
}
#index #flash_water {
	position:absolute;
	z-index:1;
	top:-9px;
}
#index #flash_xiaoxun {
	position:absolute;
	z-index:1;
	top:29px;
	top:-9px;
	top:21px;
}
#index #flash_hana {
	position:absolute;
	z-index:12;
	top:-9px;
	margin-left:740px;
}
#index #news {
	position:absolute;
	z-index:11;
	margin-top:90px;
	margin-left:530px;
	width:370px;
	height:243px;
	padding:2px;
	background-color:#A7D7FF;
}
#index #news #news_sort {
	font-size:14px;
	background-color:#C6E5FF;
	margin-top:3px;
	padding-top:5px;
}
#index #news #news_sort a {
	height:16px;
	padding:3px 5px 0 5px;
	padding:3px 0 0 0;
	text-decoration:none;
}
#index #news #news_sort a:hover {
	background-color:#A7D7FF;
}
#index .index_more ul, #index #news_search, #index #index_hot {
	margin:8px;
	line-height:140%;
}
#index #news_search {
	position:absolute;
	z-index:25;
	width:350px;
	padding:2px;
	margin-top:128px;
	margin-top:115px;
	margin-left:540px;
}
#index .index_more ul li {
	margin:2px 0 2px 0;
	padding-left:15px;
	background-image:url(/images/list.gif);
	background-repeat:no-repeat;
	background-position:0 3px;
}
#index #news_search hr, #index_hot hr {
	height:1px;
	color:#FFFFFF;
}
#index #news_search h4 {
	font-size:14px;
	font-weight:normal;
}
#index #title {
	height:224px;
}
#index #title_img {
	float:left;
}
#index #email {
	margin-left:494px;
	position:absolute;
	z-index:15;
}
#index #email dl {
	padding-top:3px;
}
#index #email dd {
	display:inline;
}
#index #email .emailLogIpt {
	border:1px solid #FFFFFF;
}
#index_email {
	color:#003366;
}
#index #en_link {
	position:absolute;
	z-index:10;
	background-color:#A7D7FF;
	padding:6px 42px 6px 42px;
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
	float:left;
	margin-left:855px;
}
#en_link a {
	color:#003366;
	text-decoration:none;
}
#index #header {
	margin:0px auto;
}
#index #img_bg {
	width:1000px;
	height:308px;
	background-repeat:no-repeat;
	background-image: url(/images/index/img.jpg);
	background-color:#FFFFFF;
}
#index #link_bg {
	background-color:#555555;
}
#links {
	height:30px;
	clear:both;
	text-align:left;
}
#links a {
	text-decoration:none;
}
#links .extend {
	margin:0 0 3px 6px;
}
#links img {
	cursor:hand;
}
.link_item {
	width:55px;
	text-align:center;
}
.link_item a {
	color:#FFFFFF;
}
.tohome {
	color:#FFFFFF;
}
.link_item_hover {
	width:55px;
	text-align:center;
	color:#000000;
	background-image:url(/images/link_bg.gif);
	background-repeat:no-repeat;
}
.link_item_hover a {
	color:#000000;
}

#index #menumain {
	width:1000px;
	margin:0px auto;
	clear:both;
	background-color:#1F3A87;
	border-bottom:1px solid #FFFFFF;
}
.menu_all_left {
	background-color:#1F3A87;
	width:66px;
	color:#FFFFFF;
	text-align:center;
}
.menu_all_right {
	background-color:#FFFFFF;
	border-bottom:1px solid #F3F0DF;
	border-right:1px solid #1F3A87;
	padding:2px;
}
.menu_on {
	background-image:url(/images/link_bg.gif);
	color:#000000;
}
.blueborder {
	border-top:1px solid #234390;
	border-right:1px solid #234390;
	border-left:1px solid #234390;
	background-color:#F9FFDF;
}
#index #menu_list {
	margin-bottom:0px !important;
	margin-bottom:-4px;
	position:absolute;z-index:15;
	top:449px;
}
#menu_pad {
	padding:15px;
}
.menu_content {
	background-color:#F9FFDF;
}
#index #footer {
	margin:0 auto;
	width:1002px;
	background-color:#C6C6C6;
}
#footer #footer_infor {
	padding:4px;
	font-family:arial;
}
#police {
	margin:0 auto;
	width:1000px;
	text-align:center;
	clear:both;
}
#police * {
	text-align:center;
}
/*default//////////////////////////////////////////////*/
#newscenter_ctner #more h1, #document h1, #newscenter h1 {
	padding:6px;
	margin-top:2px;
	margin-bottom:2px;
	text-align:left;
	text-align:center;
}
#newscenter .more_list {
	line-height:200%;
	width:100%;
	font-size:14px;
}
#newscenter .more_list li {
	border-bottom:1px dotted #CCCCCC;
	padding-left:15px;
	background-image:url(/images/list.gif);
	background-repeat:no-repeat;
	background-position:0 8px;
}
#newscenter_ctner .more_list {
	margin:20px 40px 20px 30px;
	font-weight:bold;
}
#newscenter .index_more {
	clear:both;
}
#newscenter .index_more li {
	line-height:150%;
	margin:2px 0 2px 0;
	padding-left:15px;
	background-image:url(/images/list.gif);
	background-repeat:no-repeat;
	background-position:0 3px;
}
#detail, #content{width:650px;padding-left:30px;line-height:200%;font-size:14px;}
#detail #content{width:620px;padding-left:10px;}
#content{font-weight:normal;}
h5{
	background-image: url(/images/sidebar_title.gif);
	height:27px;
	margin:0 14px 0 4px;
	padding:7px 0 0 38px;
	font-weight:normal;
	font-size:14px;
	background-repeat:no-repeat;
}
#detail h4{
	font-size:12px;
	text-align:center;
	margin:0 0 36px 0;
	font-weight:normal;
	color:#333333;
	background-color:#efefef;
}
#the_sidebar #keyword{
	border:1px solid #b6b6b6;
	margin-bottom:6px;
	width:155px;
}
#the_sidebar ul{
	width:230px;
	line-height:200%;
	margin:12px 0 32px 0;
}
#the_sidebar li{
	background-image: url(/images/spot.gif);
	background-repeat: no-repeat;
	padding-left:20px;
	background-position: 8 7;
}
#more ul,#morepro ul{
	line-height:200%;
	margin:12px 0 32px 0;
}
#more li,#morepro li{
	background-image: url(/images/spot.gif);
	background-repeat: no-repeat;
	padding-left:20px;
	background-position: 8 7;
}
#page_link{
	padding:20px 0 0 10px;
}
#page_link a{
	display:block;
	line-height:200%;
	background-image: url(/images/spot.gif);
	background-repeat: no-repeat;
	padding-left:20px;
	background-position: 8 7;
}















/*//////////////////////*/
#newscenter #header {
	background-image:url(/images/news/header_bg.jpg);
	margin:0 auto;
	background-repeat:no-repeat;
	width:1000px;
	height:82px;
	clear:both;
}
#newscenter #header div {
	padding:8px 12px 0 500px;
	text-align:right;
}
#page_header {
	margin:0 auto;
	width:1000px;
	height:152px;
	background-image:url(/images/page_header.gif);
	clear:both;
}
#page_header #hot {
	display:none;
}
#the_img_page {
	background-image:url(/images/page.jpg);
	margin:0 auto;
	background-repeat:no-repeat;
	width:1000px;
	height:195px;
	clear:both;
}
#the_img {
	background-image:url(/images/news_center.jpg);
	margin:0 auto;
	background-repeat:no-repeat;
	width:1000px;
	height:195px;
	clear:both;
}
#default #header {
	background-image:url(/images/header_img.jpg);
	margin:0 auto;
	background-repeat:no-repeat;
	width:1000px;
	height:226px;
	clear:both;
}
#newscenter #links {
	color:#FFFFFF;
	width:1000px;
	margin:0 auto;
	background-color:#1F3A87;
	padding:9px;
	margin-top:2px;
}
#newscenter #links a {
	color:#FFFFFF;
}
#newscenter_search #keyword {
	width:125px;
	border:1px solid #636363;
}
.search_ctner {
	margin:0 auto;
	clear:both;
	margin-top:1px;
	border-bottom:1px solid #8A8A8A;
}
.search_ctner #search_main {
	padding-left:6px;
}
.search_ctner #search_title {
	background-image:url(/images/search_title.gif);
	width:105px;
	height:25px;
}
#newscenter .right_bg {
	background-color:#DAEAF5;
	margin-top:2px;
}
#newscenter #email .emailLogIpt {
	width:68px;
	border:1px solid #BCBCBC;
}
#newscenter #email #emailLogBtn {
	width:68px;
	text-align:center;
}
#default #link_bg {
	background-color:#1F3A87;
	width:1000px;
}
#body_main {
	width:1000px;
	margin:0 auto;
}
#body_main h1 {
	padding:20px 0 20px 0;
	text-align:center;
}
#default #menumain {
	width:1000px;
	margin:0px auto;
	clear:both;
	background-color:#1F3A87;
	border-bottom:1px solid #FFFFFF;
}
#newscenter_left, #newscenter_center, #newscenter_right {
	margin-top:3px;
}
#newscenter_left {
	float:left;
	width:275px;
}
#newscenter_center {
	float:left;
	width:475px;
}
#newscenter_right {
	float:left;
	width:240px;
}
#newscenter_right h4 {
	margin-left:1px;
	height:30px !important;
	height:35px;
	border-top:4px solid #D8E8F2;
	background-color:#FFFFFF;
	border-bottom:1px solid #E9E9E9;
}
#newscenter .newsareatitle {
	height:34px;
}
#newscenter_left .newsarea {
	border:1px solid #B6B4B4;
	width:272px;
	margin-bottom:3px;
}
.newsarea div {
	text-align:left;
}
#newscenter_left .newsarea .newsareatitle {
	background-image:url(/images/left_title_bg.gif);
	width:270px;
	margin:0;
	padding:0;
}
#newscenter_center .newsarea {
	border:1px solid #B6B4B4;
	width:472px;
	margin-bottom:3px;
}
#newscenter_center .newsarea .newsareatitle {
	background-image:url(/images/center_title_bg.gif);
	width:470px;
	margin:0;
	padding:0;
}
.newsarea .right {
	margin:16px 6px 0 0;
	color:#FFFFFF;
}
#newscenter_focus {
	padding:6px;
}
#newscenter_right .more {
	float:right;
	font-size:12px;
	font-weight:normal;
	margin-top:12px;
}
#newscenter_center .index_more, #newscenter_left .index_more {
}
/*//////////////////////////////////////////////////////*/



#footer {
	width:1000px;
	margin:0 auto;
	margin-top:5px;
	color:#56b3e5;
}
#footer_links {
	text-align:center;
	padding:5px;
	background-color:#56b3e5;
/*	border-bottom:3px solid #234390;
	border-top:1px solid #CCCCCC;*/
}
#footer_infor {
	padding:5px;
	text-align:center;
	line-height:150%;
}
#pagelist {
	margin:5px 30px 5xp 20px;
	padding:5px;
	clear:both;
}
#pagelist b {
	font:13px;
	color:#990000;
	font-weight:bold;
}
#search_form {
	padding:3px 0 3px 36px;
	font-size:14px;
	border-bottom:1px solid #CCCCCC;
}
#search_form #keyword {
	width:200px;
	border:1px solid #234390;
}
#search #info {
	text-align:right;
	font-size:14px;
	margin:4px 6px 0 0;
	line-height:14px;
}
#search .title a {
	color:0000FF;
	font-size:16px;
}
#search .title {
	margin:4px 0 4px 0;
}
#search .stat {
	color:green;
}
#search .title, #search .content, #search .stat {
	margin: 0 6px 0 6px;
}
#search #pagelist {
	text-align:left;
}
#search div {
	text-align:left;
}
#badsearch {
	margin:50px 0 80px 80px;
	padding:0 0 0 150px;
	font-size:14px;
}
#comment .bar {
	background-color:#F0F0FF;
	padding:5px 0 5px 12px;
	border-bottom:1px solid #CCCCCC;
}
#comment .bar a {
	color:red;
}
#comment .content {
	padding:5px;
	word-break:break-all;
}
#comment .oran_cont {
	margin:5px;
	padding:5px;
	border:1px solid #CCCCCC;
}
#comment .oran_cont a {
	color:red;
}
#comment #add {
	padding:5px;
	border:1px solid #EFEFEF;
	width:500px;
}
#comment #add .readme {
	background-color:#7993D7;
	color:#FFFFFF;
	padding:6px;
	border-bottom:1px solid #CCCCCC;
	margin:0 0 4px 0;
	font-size:13px;
}
#comment #add .label {
	background-color:#F6F6F6;
	padding:5px 0 5px 6px;
	border-bottom:1px solid #EFEFEF;
	margin:4px 0 4px 0;
	border-left:4px solid #CCCCCC;
	font-size:13px;
}
#comment .input {
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	width:300px;
	font-family:arial;
}
#comment textarea {
	font-family:arial;
	border:1px solid #BBBBBB;
	background-color:#FFFFFF;
	height:120px;
	width:100%;
}
#stru {
	margin:0px;
	font-size:12px;
	font-weight:normal;
}
#stru h4 {
	line-height:200%;
	font-size:16px;
	text-align:left;
	padding:3px 0 0 12px;
	margin: 12px 0 12px 0;
}
#stru div {
	padding:15px 0 20px 120px;
	font-size:14px;
}
#stru a:hover {
	color:red;
}
#history{
	padding-left:10px;
}
#detail table {
	margin:0 auto;
}
#newscenter dl {
	display:inline;
}
#newscenter dd {
	display:inline;
	margin-left:6px;
}
#news_meeting {
	height:45px;
}
#news_meeting li {
	display:inline;
}
#stru, #index div {
	text-align:left;
}
#comment h1 {
	text-align:left;
	background-image:url(/images/newscenter_title_bg.gif);
	background-repeat:repeat-y;
	font-weight:normal;
	height:32px;
	padding:6px;
	margin:0;
	color:#FFFFFF;
}
.newsarea h4 {
	text-align:left;
}
#scenery {
	padding:0 0 0 3px;
}
#scenery .left {
	width:218px;
	border:1px solid #B2B2B2;
	background-color:#FEFEFE;
	padding:2px;
	margin:3px;
}
#scenery img {
	border:2px solid #808080;
	width:210px;
	height:139px;
}
#viewimg img {
	border:3px solid #CCCCCC;
	margin-bottom:5px;
}
#anniversary_unit {
	width:1000px;
	position:absolute;
	z-index:15;
}
#anniversary {
	position:absolute;
	top:52px;
	left:835px;
}
#index #hot_link {
	position:absolute;
	z-index:13;
	top:54px;
}
#index #hot_link {
	position:absolute;
	z-index:13;
	top:475px;
}
#index #hot_link2 {
	position:absolute;
	z-index:13;
	top:77px;
}




/*#index #flash_water {
	display:none;
}
#index #flash_xiaoxun {
	display:none;
}*/
.aligncenter {
	padding-left:30px;
	display:none;
}
#introduce_detail {
	font-size:14px;
	line-height:180%;
}
#introcon {width:700px;float:left}


.news_1_1{background-image: url(/images/news_1_1.gif);background-repeat: no-repeat;width:8px;height:8px;}
.news_1_2{background-image: url(/images/news_1_2.gif);background-repeat: repeat-x;height:8px;}
.news_1_3{background-image: url(/images/news_1_3.gif);background-repeat: no-repeat;width:8px;height:8px;}
.news_2_1{background-image: url(/images/news_2_1.gif);background-repeat: repeat-y;width:1px;}
.news_2_2{padding-bottom: 5px;}
.news_2_3{background-image: url(/images/news_2_3.gif);background-repeat: repeat-y;width:8px;}
.news_3_1{background-image: url(/images/news_3_1.gif);background-repeat: no-repeat;width:8px;height:8px;}
.news_3_2{background-image: url(/images/news_3_2.gif);background-repeat: repeat-x;height:8px;}
.news_3_3{background-image: url(/images/news_3_3.gif);background-repeat: no-repeat;width:8px;height:8px;}
.index_imgnews{background-image: url(/images/imgenews_1.gif);background-repeat: no-repeat;background-position: right top;width:289px;background-color: #b5b4b4;}
.imgnews{background-image: url(/images/news_2_3.gif);background-repeat: repeat-y;background-position: right;width:289px;}
.imgnews img{border:1px solid #b5b4b4;width:280px;height:233px;}
.imgnews .title{background-image: url(/images/imgnews_2.gif);background-position: right bottom;background-repeat: no-repeat;padding:9px 6px 18px 6px;}
h5 a{font-size:12px;}
#news_center .index_more li{background-image: url(/images/spot.gif);background-repeat: no-repeat;padding-left:20px;background-position: 8 7;line-height:180%;}
#news_center .index_more{margin:12px 6px 24px 8px;}
#newscenter_main .index_more,#news_focus{margin:12px 6px 12px 8px;}
#headline li{font-size:14px;color:red;background:none !important;padding:0 8px 0 8px !important;}
#newscenter_left .index_more{margin-bottom:26px;}
#newscenter_right #emailLogBtn{width:44px;}
.emailLogIpt{border:1px solid #cfcfcf;width:95px;}
#newscenter_right #keyword{border:1px solid #cfcfcf;width:140px;}
#news_focus br{display:none;}
#news_focus a{display:inline-block;width:100px;background-image: url(/images/spot.gif);background-repeat: no-repeat;padding-left:20px;background-position: 8 7;line-height:180%;}
#body_main table {
	margin:0 auto;
}

#l_name{font-size:30px;font-family:微软雅黑,黑体,Verdana;}
.l_des{font-weight:bold;font-size:13px;}
.l_info{line-height:200%;padding-left:240px;background-repeat:no-repeat;height:240px;font-weight:bold;font-size:13px;}
.l_title{font-size:18px;font-family:微软雅黑,黑体,Verdana;}
.l_pd{padding-left:40px;font-weight:bold;font-size:13px;}
#gjp{background-image:url(http://www.dlpu.edu.cn/upload/pictures20137/13073011580298eaa5cea8ce90b5.jpg);}
#lrd{background-image:url(http://www.dlpu.edu.cn/upload/pictures20165/160524101543df3c951b646a3677.jpg);}
#lcw{background-image:url(http://www.dlpu.edu.cn/upload/pictures20138/1308268151198eaa5cea8ce90b5.jpg);}
#aqd{background-image:url(http://www.dlpu.edu.cn/upload/pictures20138/13080511115998eaa5cea8ce90b5.jpg);}
#zgw{background-image:url(http://www.dlpu.edu.cn/upload/pictures20162/160228153823df3c951b646a3677.jpg);}
#wxs{background-image:url(http://www.dlpu.edu.cn/upload/pictures20138/1308029301798eaa5cea8ce90b5.jpg);}
#rwd{background-image:url(http://www.dlpu.edu.cn/upload/pictures20138/1308029524498eaa5cea8ce90b5.jpg);}
#zjy_{background-image:url(http://www.dlpu.edu.cn/upload/pictures20138/13080210462598eaa5cea8ce90b5.jpg);}
#zjy{background-image:url(http://www.dlpu.edu.cn/upload/pictures20137/13073014245698eaa5cea8ce90b5.jpg);}
#lyx{background-image:url(http://www.dlpu.edu.cn/upload/pictures20177/17070680730df3c951b646a3677.jpg);}


#stru li{
	margin:2px 0 2px 0;
	padding-left:25px;
	background-image:url(/images/list.gif);
	background-repeat:no-repeat;
	background-position:0 10px;
}
.oa{top:0px; padding:0; margin:0 ; position:absolute; z-index:9999;left: 50%; height:30px; margin-left:150px; width:250px; background-color:#000;filter:alpha(opacity=30); -moz-opacity:0.3;opacity:0.3;}
.oaidata{ padding:0; margin:0 ; position:absolute; z-index:9999;left: 50%; margin-left:165px; width:270px; top:8px; color:#FFF; font-size:12px}
.oaidata li{ padding:0; margin:0; list-style:none; display:inline; padding-right:10px;}
.oaidata a{color:#FFF;}.oaidata a:hover{text-decoration:underline;}
#baiduana{display:none;}
#morepro .right{margin-right:35px;}
#netx #footer{
 /*   background-image: url(/images/week.gif);
    background-repeat: no-repeat;
    background-position: right 25px;
    height: 80px;*/
}